/**
 * @file
 * Defining CSS for the nodejs_checker block. 
 */
.nodejs_checker_hidden {
  display: none;
}

#nodejs_checker_server_state_connected,
#nodejs_checker_client_connected {
  background: url("icons/connected.png") no-repeat scroll 0 0 transparent;
  padding-left: 22px;
}

#nodejs_checker_server_state_disconnected,
#nodejs_checker_client_disconnected {
  background: url("icons/disconnected.png") no-repeat scroll 0 0 transparent;
  padding-left: 22px;
}
